.detail{
    width: 97%;
    margin-left: 20px;
}

.doctor-details-heading{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    margin-top: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.underline2{
    width: 100%;
    height: 3px;
    background-color: #e0e0e0;
    margin-top: 10px;
}
.doctor-detail{
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
}
.doctor-search{
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 70px;
    padding: 10px;
}

.doctor-filter{
    width:450px;
    height:40px;
    border: none;
    border: 2px solid grey;

}
.search-doctor-btn{
    border: none;
    width: 150px;
    height: 40px;
    margin-left: 30px;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    background-color: green;
}

.doctor-table{
    width: 100%;
    height: 100%;
    margin-top: 100px;
    border-collapse: collapse;
    font-size: 18px;
    /* background-color: #fff; */
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}
.doctor-table th{
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}
.doctor-table td{
    /* background-color: #fff; */
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}
tr{
    background-color: white;
}

tr:hover{
    background-color: wheat;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}